@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.theme-light {
	--background: #fefefe;
	--foreground: #1e1e1e;
}

.theme-dark {
	--background: #1e1e1e;
	--foreground: #fefefe;
}
